.title {
    font-family: Georgia;
    /*font-size:large*/
}
.paragraph {
    font-family: Georgia;
    /*font-size: large;
    */
}
.picture {
    width: 700px;
    display: block;
}

.title-div {
    /*width: 400px;*/
    display: grid;
    grid-template-columns: 400px 400px;
    /*display:inline-block;*/
}

.intro-div {
    /*width: 300px;*/
    display: grid;
    grid-template-columns: 400px 100px;
    grid-row: 200px;
    /*display: inline-block;*/
}

.left-intro {
    width: 300px;
    height: 150px;
    display: inline-block;
    vertical-align: left;
}

.intro-portfolio {
    font-family: Georgia;
    font-size: xx-large;
}

.pic-intro {
    width: 200px;
    /*vertical-align: right;*/
}

.main-page {
    display: grid;
    grid-template-columns: 500px 400px;
}

.logo {
    height: 150px
}

.main-button {
    font-size: xx-large;
}

.div-logo {
    display: grid;
    grid-template-columns: 150px 150px;
}

.line {
    display: grid;
    grid-template-columns: 50px 50px;
}

.pic-line {
    width: 50px;
}

.about-me-intro {
    display: grid;
    grid-template-columns: 150px 150px;
}

.about-me-paragraph {
    display: grid;
    grid-template-columns: 290px 290px;
}

.pic-about-me {
    height: 500px
}

.about-me-title {
    color: #1fb5c8;
    font-size: 50px;
}

.portfolio-picture {
    height: 500px
}

.porfolio-info {
    font-size: 30px;

}

.portfolio-sub {
    font-size: 20px;
}

.portfolio-div {
    display: grid;
    grid-template-columns: 200px 200px;
}

.portfolio-title {
    color: #1fb5c8;
    display: grid;
    grid-template-columns: 400px 400px;
}

.body-paragraphs {
    display: grid;
    grid-template-columns: 400px 400px;
}

.body-paragraph {
    font-size: 20px;
}

.main-button {
    display:grid;
    grid-template-columns: 600px 600px;
}